<link rel="stylesheet" href="assets/css/search.css" />

<md-content flex style="min-height: {{ 750 + ($ctrl.courses.length / 2) * 40 }}px; max-height: {{ 1000 + ($ctrl.courses.length / 2) * 40 }}px;" 
  layout="column" layout-align="space-between center">
  <md-toolbar class="md-tall md-primary">		
    <div class="md-toolbar-tools" layout-fill layout="column" style="{width: 36px; height: 36px;}" 
      layout-align="center center" ng-style="{'background-image':'url(/assets/img/searchpic_converted.jpg)'}">
	  <p>Search</p>	      		
	</div>			
  </md-toolbar>
	
  Select term:
		
  <md-radio-group layout="row" layout-wrap layout-align="center center" 
    ng-model="$ctrl.termInd" ng-click="$ctrl.resetCourses()">
	<md-radio-button ng-repeat="term in $ctrl.terms" value="{{ $index }}">
	  {{ term.name }}
	</md-radio-button>
  </md-radio-group>
  
  <md-divider></md-divider>
		
  Select courses:
  <md-autocomplete class="smaller-width" placeholder="Search..." md-no-cache="true" md-selected-item="$ctrl.selectedItem"
    md-search-text="$ctrl.searchText"  md-items="item in $ctrl.filterCourses($ctrl.searchText)"
    md-item-text="item" md-selected-item-change="$ctrl.addCourse()">
		<span md-highlight-text="$ctrl.searchText" md-highlight-flags="i">{{ item }}</span>
  </md-autocomplete> 
   
  <md-chips class="smaller-width" placeholder="Courses" ng-model="$ctrl.courses" readonly="true" md-removable="true"></md-chips>

  Hide sections:			
  <md-grid-list class="section-list" md-cols="3" md-rows="2" md-row-height="30px">
	<md-grid-tile ng-repeat="section in $ctrl.sections">
	  <md-checkbox ng-model="section.selected">{{ section.name }}</md-checkbox>
	</md-grid-tile>
  </md-grid-list>
	
  <md-divider></md-divider>

  Preferred class time:
  <md-radio-group layout="row" layout-wrap ng-model="$ctrl.classTime" layout-align="center center">
	<md-radio-button value="0">none</md-radio-button>
	<md-radio-button value="1">end early</md-radio-button>
	<md-radio-button value="2">start late</md-radio-button>
  </md-radio-group>

  <md-divider></md-divider>

  Day length preference:
  <md-radio-group layout="row" layout-wrap ng-model="$ctrl.dayLength" layout-align="center center">
	<md-radio-button value="0">none</md-radio-button>
	<md-radio-button value="1">less class per day</md-radio-button>
	<md-radio-button value="2">less school days</md-radio-button>
  </md-radio-group>

  <md-divider></md-divider>

  Hide closed sections:
  <md-switch ng-model="$ctrl.omitClosed"></md-switch>

  <md-divider></md-divider>

  <div layout="row" layout-align="center center">
	<div style="width: 40px;"></div>
	<md-button ng-disabled="$ctrl.noCourses()" ng-click="$ctrl.getSchedules()" class="md-raised md-accent">
	  Search
	</md-button>
	<md-button class="md-icon-button" ng-click="$ctrl.showHelp()">
		<md-icon md-font-set="material-icons">help</md-icon>
	</md-button>
  </div>

  <font size="1" ng-show="$ctrl.terms.length > 1">*course information may not yet be available</font>
	
  <div></div>	
</md-content>
