<link rel="stylesheet" href="assets/css/week-view.css" />

<div class="calendar" ng-cloak>  
  <header layout-align="center center">
    <div layout="row" layout-align="center center">
      <md-button class="md-icon-button launch" ng-click="$ctrl.prevWeek()">
		    <md-icon md-font-set="material-icons">navigate_before</md-icon>
	  </md-button>
      <h1>
      	<span style="font-weight: 400">
      	{{ $ctrl.weekDates[0].getDate() }}
      	{{ $ctrl.months[$ctrl.weekDates[0].getMonth()] }}
      	–
      	{{ $ctrl.weekDates[6].getDate() }}
      	{{$ctrl.months[$ctrl.weekDates[6].getMonth()]}}
      	</span>
      	{{ $ctrl.weekDates[0].getFullYear() }}
      </h1>
      <md-button class="md-icon-button launch" ng-click="$ctrl.nextWeek()">
		    <md-icon md-font-set="material-icons">navigate_next</md-icon>
	  </md-button>
    </div>
    
    <table>
	 <thead>
	    <tr>
	      <th class="headcol"></th>
	      <th ng-repeat="day in $ctrl.weekDates">{{ $ctrl.days[$index] }} {{ day.getDate() }}</th>		      
	    </tr>
	 </thead>
	</table>
  </header>
  
  <div> 
    <table>	
      <tbody>
  	    <tr ng-repeat="hour in $ctrl.week" ng-if="$ctrl.minInd <= $index && $index <= $ctrl.maxInd">
  		  <td class="headcol"><span ng-if="$index != $ctrl.minInd">{{ $ctrl.getTime($index) }}</span></td>
  		  <td ng-repeat="block in hour track by $index">
  		    
  		    <div class="cell">
  		    
  		    <div layout="column" ng-if="block != null" class="event" ng-style="block.style" layout-align="start center">  			  
  			  <p><u>{{block.name}}</u></p>
  			  <p>{{block.instructor}}</p>
  			  <p>{{block.location}}</p>
  			</div>
  			</div>
  		  </td>  	
  	    </tr>
      </tbody>
    </table>
  </div>
</div>



